.page {
	position: relative;
	display: flex;
	min-height: 100vh;
	padding-left: 16.7%;
	&__container {
		padding-top: 5.9375rem;
		flex-grow: 1;
		position: relative;
		width: 83.3%;
	}
}

@media (max-width: 85em) { //1360px
	.page {
		padding-left: 5rem;
	}
}

@media (max-width: 37.5em) { //600px 
	.page {
		padding-left: 0;
		&__container {
			padding-top: 5rem;
		}
	}
}

html.dark .page {
	background: url('../img/bg.jpg');
}
html.light .page {
	background: #fff;
}